body{
    background-color: black;
}

.text{
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 5vh;
}

.text2{
    background-color: black;
    text-align: center;
    padding: 5vh;
}

.text2 h2{
    color: yellow;
}

.text2 h3{
    color: cyan;
}

.footer{
    background-color: black;
    text-align: center;
}

.footer p{
    color: yellow;
}

.logOff{
    color: red;
    text-decoration: none;
}

.logOff:hover{
    color: darkred;
    text-decoration: underline;
}

